{{page-title "Order"}}
<LinkTo @route="board" >
  <div class="ui brown button ">Retour aux commandes à préparer</div>
</LinkTo>

<div style="background-color: black; height: 50px; color: white; vertical-align: center"> {{@model.user.name}} ({{@model.user.email}})</div>

<div class="label"> {{@model.dateCreation}}</div>
<table class="ui table">
  <tr>
    <td>Proudit</td>
    <td>Quantité</td>
    <td>Prix</td>
    <td>Montant</td>
    <td>Preparation</td>
  </tr>

{{#each @model.orderdetails as |details|}}
  <tr >
    <td>{{details.product.name}}</td> <td>{{details.quantity}}</td> <td>{{details.product.price}} €</td>
    <td>{{details.amount}} €</td>
    <td> <Input @type="checkbox" @checked={{details.prepared}} /> </td>
  </tr>
  {{/each}}
  <tr>
    <td></td>  <td></td> <td></td>
    <td>{{@model.amount}} €</td>
    <td>{{@model.toPay}} €</td>
  </tr>

</table>

<h1>Produits préparés </h1>
{{#each @model.orderdetails as |details|}}
  {{details.product.nom}}
  {{/each}}



{{outlet}}